/* reset- setting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Google Sans" Roboto (woff2) arialsans-serif;
}
#counter-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  box-shadow: 5px 5px 5px 5px rgba(13, 12, 12, 0.1);
  padding: 10px;
}
#counter {
  display: flex;

  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
h2 {
  font-size: 40px;
  font-weight: 300;
}
h4 {
  font-size: 25px;
  font-weight: 300;
}
#bg-conatiner {
  background-color: #eee8d5;
  width: 850px;
  height: 320px;
  border-radius: 8px;
}
#display-container {
  display: flex;
  margin: 10px;
}
#display {
  margin-top: 10px;
  width: 95%;
  height: 70px;
  font-size: 50px;
  border-radius: 8px 0 0 8px;
  outline: none;
  padding: 5px;
}
#reset-button {
  margin-top: 10px;
  width: 45px;
  height: 70px;
  font-size: 33px;
  border-radius: 0 8px 8px 0;
  border-left: none;
}
#button-container {
  display: flex;
  flex-direction: column;
  margin: 25px 12px;
  gap: 30px;
  color: aliceblue;
}
#add-button {
  background-color: #198754;
  border-radius: 8px;
  padding: 10px;
  font-size: 40px;
  color: aliceblue;
  border: none;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
}
#minus-button {
  background-color: #6c757d;
  border: none;
  color: aliceblue;
  border-radius: 8px;
  padding: 10px;
  font-size: 40px;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
}
